// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.dark {

    /* redefine theme colors for dark theme */
    $primary: #012345;
    $secondary: #111111;
    $success: #222222;
    $dark: #000;
    
    $theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "info": $indigo,
        "dark": $dark,
        "light": $light,
    );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    $body-color: #eeeeee;
    $body-bg: #263C5C;
    
    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
      
    @import '~bootstrap/scss/bootstrap';
}

.language-cards {
    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.language-card {
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    span {
        margin-top: -1rem;
        margin-right: 1rem;
        right: 0;
        position: absolute;
        width: 2.5rem;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }
}

.alert {
    p, ul {
        margin-bottom: 0;
    }

    &-close:hover {
        cursor: pointer;
    }
}

.footer {
    height: 40px;
}

.batch-phrase-list {
    span {
        color: $primary;
        margin: 0.4rem;
    }
}

.language-title {
    svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        font-size: inherit;
        color: inherit;
        vertical-align: -0.125em;
        fill: currentColor;
    }
}